
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.burger,
.menu {
  position: fixed;
}

.burger {
  z-index: 114;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-image: url("menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("close.svg");
}

.background {
  position: fixed;
  z-index: -1;
  top: 44px;
  left: 44px;
  aspect-ratio: 1 / 4;
  translate: -50% -50%;
  height: 88px;

  background: #5f2987;
  border-radius:0;
  opacity: 0;
  transition: 0.1s;
}

body.open .background {
  z-index: 2;
  height: 158vh;
  width: 80vh;
  opacity: 1;
  transition: 0.6s;
}

.menu {
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.05s;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

body.open .menu {
z-index: 3;
  opacity: 1;
  visibility: visible;
}

body .menu nav:hover > a {
  opacity: 0.25;
}

body .menu nav > a:hover {
  opacity: 1;
  translate: 8px 0;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size:20px;
  font-family: "Euclid Circular A";
  padding: 10px 0 20px 20px;
  text-decoration: none;
  opacity: 0;
  cursor: pointer;
  transition: 0.4s;
}

.menu a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -26px;
  translate: 0 -50%;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  opacity: 0;
  rotate: 45deg;
  transition: 0.3s;
}

.menu a:hover::after {
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }
  100% {
    opacity: 1;
  }
}

body.open .menu a {
  opacity: 1;
  animation: appear 0.35s backwards;
}





@media(max-width:600px){
  .background {
    position: fixed;
  
    top: 44px;
    left: 44px;
    aspect-ratio: 1 / 2;
    translate: -50% -50%;
    height: 100%;
  width: 100%;
    background: #5f2987;
    border-radius:150px;
    opacity: 0;
    transition: 0.6s;
  }
  body.open .background {
    height: 110vh;
   width: 200vh;
    opacity: 1;
    transition: 0.6s;
  }
  .menu {
    
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.05s;
  }
.burger{
  position:absolute;
  top: -10px;
}
}
