@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family: myFirstFont;
    src:url('/hindifonts/Parvati/Parvati.ttf');
}
@font-face{
    font-family: mysecondfont;
    src:url('/hindifonts/Mangal Regular/Mangal Regular.ttf')
}
*{
    margin:0px;
}

h1{
text-align: center;
background-color: rgba(111, 111, 129, 0.89);
margin-top:0%;
font-size: 300%;
margin:0%;
text-align: center;
text-decoration:solid;
font-family:'myFirstFont';
font-size: 280%;
border-radius: 2px;
border-color: black;
border-style: solid;
border-width:thick;
letter-spacing:1px;
word-spacing:2pxpx;
padding:1%;
}
.playlist{
    margin-top: 6%;
    font-size: 200%;
    font-family: 'mysecondfont';
}
.heading1{
    font-size:1.1rem;
    padding:.5rem 0;
    text-align:center;
    text-shadow: 0 .5rem #000;
    color: #fff;
    background-color: #000;
}

.container{
display:flex;
flex-wrap:wrap;
background-color: black;

}
.container img{
    width: 20%;
    height: 20%;
    margin: 2.5%;
    cursor: pointer;
}

.bottom {
    position:fixed;
    height:75px;
    background-color: rgb(163, 148, 148); 
    display: flex;
    justify-content: center;
    align-items:center;
    color:hsl(0, 0%, 98%);
    flex-direction:column;
    bottom:1px;
    width: 100%;
}
.icons{
width: 13%;
margin-top: 0.2%;
}
#masterPlay{
    width: 120%;
        
}
.icons img{
    cursor: pointer;
}

    .row {
        display: flex;
        align-items: center;
      }
      
      .column {
        flex: 33.33%;
        padding: 5px;
      }

    #myprogressbar{
    width: 80vw;
      cursor: pointer;
    
}


@media(max-width:600px){
h1{
        margin:0%;
        text-align: center;
        text-decoration:solid;
        font-family:'myFirstFont';
        font-size: 200%;
        border-radius: 2px;
        border-color: black;
        border-style: solid;
        border-width:thick;
        letter-spacing:1px;
        word-spacing:2pxpx;
        padding:1%;
        }
       .playlist{
            margin-top: 6%;
            font-size: 100%;
            font-family: 'mysecondfont';
        }
        .heading1{
            font-size:1.9 rem;
            padding:.5rem 0;
            text-align:center;
            text-shadow: 0 .2rem #000;
            color: #fff;
        }
    
        /* Create four equal columns that floats next to each other */

 
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .container img {
        
        float: center;
    
    padding: 20px;
      width: 100%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    
    .container img {
        float: center;
        width: 94%;
        padding: 10px;
      margin: 0%;
      
    }
  }
  .bottom {
    position:fixed;
    height:75px;
    background-color: rgb(163, 148, 148); 
    display: flex;
    justify-content: center;
    align-items:center;
    color:hsl(0, 0%, 98%);
    flex-direction:column;
    bottom:1px;
    width: 100%;
}
.icons{
width: 60%;
margin-top: 0.2%;
}
#masterPlay{
    width: 120%;
        
}
.icons img{
    cursor: pointer
    
}

    .row {
        display: flex;
        align-items: center;
      }
      
      .column {
        flex: 33.33%;
        padding: 5px;
      }

    #myprogressbar{
    width:100vw;
      cursor: pointer;
      border-radius: 0%;
    
}
}
